<div class="content-message">
    <div class="header">
        <div class="head-left">
            <div class="avatar">
                <img src="../../../assets/images/Avatar/3.jpg" alt="avatar">
            </div>
            <div class="info">
                <p class="username">Đỗ Xuân Dũng</p>
                <p class="active">hoạt động 12 phút trước</p>
            </div>
        </div>
        <div class="head-right">
            <div><img src="../../../assets/icons/IconboxChat/8.svg" alt="search-icon"></div>
            <div (click)="showAbout()"><img [src]="showAb ? '../../../assets/icons/IconAppChat/5.svg' : '../../../assets/icons/IconAppChat/6.svg'" alt="about-icon"></div>
            <div><img src="../../../assets/icons/IconAppChat/2.svg" alt="more-icon"></div>
        </div>
    </div>
    <div class="content-message-list">
        <div class="list-message" [style]='showAb ? ("width: 75%") : ("width: 100%")'>
            <div class="message">
                <div class="avatar">
                    <img src="../../../assets/images/Avatar/3.jpg" alt="avatar">
                </div>
                <div class="content-message">
                    <p class="list-message">hello</p>
                </div>
            </div>
            <div class="send-container">
                <div class="send"><img src="../../../assets/icons/IconAppChat/10.svg" alt="send file"></div>
                <div class="send"><img src="../../../assets/icons/IconAppChat/9.svg" alt="send file"></div>
                <div class="send"><span class="buzz">
                        <p>Buzz!</p>
                    </span></div>
                <div class="send input-message">
                    <input type="text" placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên">
                    <img src="../../../assets/icons/IconAppChat/7.svg" alt="icon">
                </div>
            </div>
        </div>
        <div class="about-container" *ngIf="showAb">
            <div class="profile">
                <div class="img-avatar">
                    <img src="../../../assets/images/Avatar/3.jpg" alt="avatar">
                </div>
                <h2>Đỗ Xuân Dũng</h2>
                <p>0323 654 897</p>
                <p>dung1234@gmail.com</p>
                <p class="line"></p>
            </div>
            <div class="share-file">
                <div class="tittle">
                    <p>TỆP ĐÃ CHIA SẺ</p>
                    <span class="icon-dropdown" (click)="showAllFile()">
                        <img [src]="showFile ? '../../../assets/icons/IconAppChat/13.svg' : '../../../assets/icons/IconAppChat/19.svg'" alt="dropdown">
                    </span>
                </div>
                <div class="file" *ngIf="showFile">
                    <p *ngFor="let file of fileShared"><a href="#"><span><img src="../../../assets/icons/IconAppChat/pdf-icon.svg" alt="PDF"></span> {{file.name}}</a></p>
                </div>
                <p class="line"></p>
            </div>
            <div class="share-img">
                <div class="tittle">
                    <p>ẢNH ĐÃ CHIA SẺ</p>
                    <span class="icon-dropdown" (click)="showAllImg()">
                        <img [src]="showImg ? '../../../assets/icons/IconAppChat/13.svg' : '../../../assets/icons/IconAppChat/19.svg'" alt="dropdown">
                    </span>
                </div>
                <div *ngIf="showImg" class="img-share">
                    <div class="item1" *ngFor="let image of imageShared"><img [src]="image.img" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</div>