<div class="message-view" *ngIf="currentContact">

    <!-- header conversation detail -->
    <div class="header">

        <!-- user contact avatar, name and status -->
        <div class="head-left">

            <div class="avatar">
                <img class="avatar-image" *ngIf="(currentContact?.imageUrl != '')" [src]="currentContact?.imageUrl"
                    alt="avatar">
                <ngx-avatar *ngIf="currentContact?.imageUrl == ''" [name]="currentContact?.fullName" size="32">
                </ngx-avatar>
            </div>

            <div class="info">
                <p class="username">{{currentContact?.fullName}}</p>
                <p class="active">hoạt động 12 phút trước</p>
            </div>
        </div>
        <!-- user contact avatar, name and status -->

        <!-- header icon -->
        <div class="head-right">
            <div><img src="../../../assets/icons/IconboxChat/8.svg" alt="search-icon"></div>

            <div (click)="showAbout()">
                <img [src]="showAb ? '../../../assets/icons/IconAppChat/5.svg' : '../../../assets/icons/IconAppChat/6.svg'"
                    alt="about-icon">
            </div>

            <div><img src="../../../assets/icons/IconAppChat/2.svg" alt="more-icon"></div>
        </div>
        <!-- header icon -->

    </div>
    <!-- header conversation detail -->

    <!-- content conversation detail -->
    <div class="content-message-list">
        <div class="list-message" [ngStyle]="{'width' : showAb ?  'calc(100% - 300px)' : '100%'}">
            <div class="message" id="scroll"
            infiniteScroll 
            [infiniteScrollUpDistance]="scrollUpDistance" 
            [infiniteScrollThrottle]="scrollThrottle"
            (scrolledUp)="onScroll()" 
            [scrollWindow]="false">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div>
                    <div *ngFor="let mess of Messages">

                        <!-- display message of user contact -->
                        <div class="bubbleWrapper" *ngIf="mess.sender != currentUser.id">
                            <div class="inlineContainer">
                                <!-- display avatar user contact -->
                                <img class="avatar-main-mess avatar-image" *ngIf="(currentContact?.imageUrl != '')"
                                    [src]="currentContact?.imageUrl" alt="avatar">
                                <ngx-avatar *ngIf="currentContact?.imageUrl == ''" [name]="currentContact?.fullName"
                                    size="32"></ngx-avatar>

                                <!-- display content message of user contact -->
                                <!-- " -->
                                <div class="otherBubble other" [ngClass]="{'message-image' : mess.type == 2}">

                                    <div *ngIf="mess.type == 1">{{mess.content.content}}</div>

                                    <div class="message-file" *ngIf="mess.type == 5">
                                        <a (click)="openFile(mess.content.file.filePath)"
                                            target="_blank">{{mess.content}}</a>
                                    </div>

                                    <img class="img-mess" *ngIf="mess.type === 2" [src]="mess.content.photo.filePath"
                                        alt="img message" (click)="showModal(mess.id)">
                                    <!-- display modal if type is image -->
                                    <div *ngIf="mess.type === 2" [id]="mess.id" class="modal"
                                        (click)="hideModal(mess.id)">
                                        <div class="modal-image">
                                            <img [src]="mess.content.photo.filePath" alt="image">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- display message of user contact -->

                        <!-- display message of current user -->
                        <div class="bubbleWrapper" *ngIf="mess.sender == currentUser.id">
                            <div class="inlineContainer own">
                                <!-- display avatar current user -->
                                <img class="avatar-main-mess avatar-image" *ngIf="(currentUser.imageUrl != '')"
                                    [src]="currentUser.imageUrl" alt="avatar">
                                <ngx-avatar *ngIf="currentUser.imageUrl == ''" [name]="currentUser.fullName" size="32">
                                </ngx-avatar>

                                <!-- display content message of current user -->
                                <div class="ownBubble own" [ngClass]="{'message-image' : mess.type === 2}">

                                    <div *ngIf="mess.type === 1">{{mess.content.content}}</div>

                                    <div class="message-file" *ngIf="mess.type === 5">
                                        <a (click)="openFile(mess.content.file.filePath)"
                                            target="_blank">{{mess.content.file.filename}}</a>
                                    </div>

                                    <img class="img-mess" *ngIf="mess.type === 2" [src]="mess.content.photo.filePath"
                                        alt="img message" (click)="showModal(mess.id)">
                                    <!-- display modal if type is image -->
                                    <div *ngIf="mess.type === 2" [id]="mess.id" class="modal"
                                        (click)="hideModal(mess.id)">
                                        <div class="modal-image">
                                            <img [src]="mess.content.photo.filePath" alt="image">
                                        </div>
                                    </div>

                                </div>
                                <!-- display content message of current user -->
                            </div>
                        </div>
                        <!-- display message of current user -->
                    </div>
                </div>
            </div>
            <div class="send-container">

                <!-- icon send file -->
                <label class="send">
                    <img src="../../../assets/icons/IconAppChat/10.svg" alt="send file">
                    <input #imageInput type="file" (change)="processFile(imageInput)">
                </label>

                <!-- icon send picture -->
                <label class="send">
                    <img src="../../../assets/icons/IconAppChat/9.svg" alt="send file">
                    <input type="file" accept="image/*">
                </label>

                <!-- icon send buzz! -->
                <label class="send">
                    <span class="buzz">
                        <p>Buzz!</p>
                    </span>
                </label>

                <!-- input text message -->
                <div class="send input-message">
                    <textarea type="text" #box (keyup.enter)="onEnter(box.value)" spellcheck="false"
                        placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên"></textarea>

                    <!-- icon sticker -->
                    <img src="../../../assets/icons/IconAppChat/7.svg" alt="icon">
                </div>
                <!-- input text message -->

            </div>
        </div>

        <!-- about infor user contact -->
        <app-about class="about-container" [userContact]="currentContact" [sendFile]="sendFile" *ngIf="showAb">
        </app-about>
        <!-- about infor user contact -->

    </div>
    <!-- content conversation detail -->
</div>
<div *ngIf="currentContact == null" class="start">
    <div class="first-view">
        <h1>Xin chào, {{currentUser.fullName}}</h1>
        <h3>Chào mừng bạn đến với webchat của chúng tôi!!!</h3>
        <img src="../../../../assets/images/more-icon.png" alt="load">
    </div>
</div>