<div class="message-view" *ngIf="currentContact">

    <!-- phần navbar của nội dung cuộc trò chuyện -->
    <div class="header">

        <!-- avatar và trạng thái hoạt động -->
        <div class="head-left">

            <div class="avatar">
                <img class="avatar-image" *ngIf="(currentContact?.imageUrl != '')" [src]="currentContact?.imageUrl"
                    alt="avatar">
                <ngx-avatar *ngIf="currentContact?.imageUrl == ''" [name]="currentContact?.fullName" size="40">
                </ngx-avatar>
            </div>

            <div class="info">
                <p class="username">{{currentContact?.fullName}}</p>
                <p class="active">hoạt động 12 phút trước</p>
            </div>
        </div>
        <!-- avatar và trạng thái hoạt động -->

        <!-- các menu icon -->
        <div class="head-right">
            <div><img src="../../../assets/icons/IconboxChat/8.svg" alt="search-icon"></div>

            <div (click)="showAbout()">
                <img [src]="showAb ? '../../../assets/icons/IconAppChat/5.svg' : '../../../assets/icons/IconAppChat/6.svg'"
                    alt="about-icon">
            </div>

            <div><img src="../../../assets/icons/IconAppChat/2.svg" alt="more-icon"></div>
        </div>
        <!-- các menu icon -->

    </div>
    <!-- phần navbar của nội dung cuộc trò chuyện -->

    <!-- phần nội dung cuộc trò chuyện -->
    <div class="content-message-list">
        <div class="list-message" [ngStyle]="{'width' : showAb ?  'calc(100% - 300px)' : '100%'}">
            <div class="message" id="scroll" infiniteScroll [infiniteScrollUpDistance]="scrollUpDistance"
                [infiniteScrollThrottle]="scrollThrottle" (scrolledUp)="onScroll()" [scrollWindow]="false">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div>
                    <div *ngFor="let mess of Messages">

                        <!-- hiện tin nhắn người tham gia gửi -->
                        <div class="bubbleWrapper" *ngIf="mess.sender != currentUser.id">
                            <div class="inlineContainer">
                                <!-- avatar -->
                                <img class="avatar-main-mess avatar-image" *ngIf="(currentContact?.imageUrl != '')"
                                    [src]="currentContact?.imageUrl" alt="avatar">
                                <ngx-avatar *ngIf="currentContact?.imageUrl == ''" [name]="currentContact?.fullName"
                                    size="34"></ngx-avatar>
                                <!-- avatar -->

                                <!-- hiện nội dung tin nhắn người tham gia gửi -->
                                <div class="otherBubble other" [ngClass]="{'message-image' : mess.type == 2}">

                                    <!-- dạng text -->
                                    <div *ngIf="mess.type == 1">{{mess.content.content}}</div>

                                    <!-- dạng file -->
                                    <div class="message-file" *ngIf="mess.type == 5">
                                        <a (click)="openFile(mess.content.file.filePath)"
                                            target="_blank">{{mess.content}}</a>
                                    </div>

                                    <!-- dạng hình ảnh -->
                                    <img class="img-mess" *ngIf="mess.type === 2" [src]="mess.content.photo.filePath"
                                        alt="img message" (click)="showModal(mess.id)">
                                    <!-- hiện modal để xem hình ảnh -->
                                    <div *ngIf="mess.type === 2" [id]="mess.id" class="modal"
                                        (click)="hideModal(mess.id)">
                                        <div class="modal-image">
                                            <img [src]="mess.content.photo.filePath" alt="image">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- hiện tin nhắn người tham gia gửi-->

                        <!-- hiện tin nhắn người dùng hiện tại gửi-->
                        <div class="bubbleWrapper" *ngIf="mess.sender == currentUser.id">
                            <div class="inlineContainer own">
                                <!-- avatar người dùng hiện tại-->
                                <img class="avatar-main-mess avatar-image" *ngIf="(currentUser.imageUrl != '')"
                                    [src]="currentUser.imageUrl" alt="avatar">
                                <ngx-avatar *ngIf="currentUser.imageUrl == ''" [name]="currentUser.fullName" size="34">
                                </ngx-avatar>

                                <!-- nội dung tin nhắn -->
                                <div class="ownBubble own" [ngClass]="{'message-image' : mess.type === 2}">

                                    <!-- dạng text -->
                                    <div *ngIf="mess.type === 1">{{mess.content.content}}</div>

                                    <!-- dạng file -->
                                    <div class="message-file" *ngIf="mess.type === 5">
                                        <a (click)="openFile(mess.content.file.filePath)"
                                            target="_blank">{{mess.content.file.filename}}</a>
                                    </div>

                                    <!-- dạng hình ảnh -->
                                    <img class="img-mess" *ngIf="mess.type === 2" [src]="mess.content.photo.filePath"
                                        alt="img message" (click)="showModal(mess.id)">
                                    <!-- hiện modal để xem hình ảnh -->
                                    <div *ngIf="mess.type === 2" [id]="mess.id" class="modal"
                                        (click)="hideModal(mess.id)">
                                        <div class="modal-image">
                                            <img [src]="mess.content.photo.filePath" alt="image">
                                        </div>
                                    </div>

                                </div>
                                <!-- nội dung tin nhắn -->
                            </div>
                        </div>
                        <!-- hiện tin nhắn người dùng hiện tại gửi-->
                    </div>
                </div>
            </div>
            <div class="send-container">

                <!-- icon send file -->
                <label class="send">
                    <img src="../../../assets/icons/IconAppChat/10.svg" alt="send file">
                    <input #imageInput type="file" (change)="processFile(imageInput)">
                </label>

                <!-- icon send picture -->
                <label class="send">
                    <img src="../../../assets/icons/IconAppChat/9.svg" alt="send file">
                    <input type="file" accept="image/*">
                </label>

                <!-- icon send buzz! -->
                <label class="send">
                    <span class="buzz">
                        <p>Buzz!</p>
                    </span>
                </label>

                <!-- nhập tin nhắn -->
                <div class="send input-message">
                    <textarea type="text" #box (keyup.enter)="onEnter(box.value)" spellcheck="false"
                        placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên"></textarea>

                    <!-- icon sticker -->
                    <img src="../../../assets/icons/IconAppChat/7.svg" alt="icon">
                </div>
                <!-- nhập tin nhắn -->

            </div>
        </div>

        <!-- thông tin về người trò chuyện -->
        <app-about class="about-container" [userContact]="currentContact" [sendFile]="sendFile" *ngIf="showAb">
        </app-about>
        <!-- thông tin về người trò chuyện -->

    </div>
    <!-- phần nội dung cuộc trò chuyện -->
</div>

<!-- phần mở đầu khi chưa có cuộc trò chuyện nào -->
<div *ngIf="currentContact == null" class="start">
    <div class="first-view">
        <h1>Xin chào, {{currentUser.fullName}}</h1>
        <h3>Chào mừng bạn đến với webchat của chúng tôi!!!</h3>
        <img src="../../../../assets/images/more-icon.png" alt="load">
    </div>
</div>
<!-- phần mở đầu khi chưa có cuộc trò chuyện nào -->