<div class="container-fluid">
    <div class="form">
        <div class="tab">
            <h2 class="tablinks" (click)="SelectedSignIn()" routerLink="/signin" routerLinkActive="active">SIGN IN</h2>
            <h2 class="tablinks" (click)="SelectedSignUp()" routerLink="/signup" routerLinkActive="active">SIGN UP</h2>
        </div>
        <div>
            <div class="container">
                <div *ngIf="signup"><input type="text" placeholder="Enter Username" name="uname" required></div>

                <div><input type="email" placeholder="Enter Email" name="r-email" required></div>

                <div *ngIf="signup"><input type="tel" placeholder="Enter Phone Number" name="r-phone" pattern="*[0-9]{10}" required></div>

                <div><input type="password" placeholder="Enter Password" name="psw" required></div>

                <div *ngIf="signup"><input type="password" placeholder="Repeat Password" name="re-psw" required></div>

                <label for="check" *ngIf="!signup">
                    <span class="icon"></span> 
                    <input id="check" type="checkbox" class="check" checked> Keep me Signed in
                </label>

                <button *ngIf="!signup" type="submit" (click)="checkLogin()">Login</button>

                <button *ngIf="signup" type="submit">Register</button>
            </div>
        </div>
    </div>
</div>